<head>
  <%= javascript_include_tag 'application' %>
</head>

<div class="devise_format" style="padding-bottom: 70px;"> 

<h2>Modifica <%= resource_name.to_s.humanize %></h2><br/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group" style="padding-bottom: 10px;">
    <%= f.label :avatar, class: 'col-sm-2 control-label'  %>
    <%= image_tag(current_user.avatar.url(:medium), class:"user_avatar") %>
    <div class="col-sm-6">
      <%= f.file_field :avatar %>
    </div>
  </div>

  <div class="input-field col s6">
    <i class="material-icons prefix">account_circle</i>
    <%= f.text_field :first_name, placeholder: "Placeholder", id: "first_name", class: "validate", readonly: "readonly", autocomplete: "first_name" %>
    <%= f.label "Nome", for: "first_name" %><br />
  </div>

  <div class="input-field col s6">
    <i class="material-icons prefix">account_circle</i>
    <%= f.text_field :last_name, placeholder: "Placeholder", id: "last_name", class: "validate", readonly: "readonly", autocomplete: "last_name" %>
    <%= f.label "Cognome", for: "last_name" %><br />
  </div>

  <% if !current_user.provider=="google_oauth2" %>
  <div class="input-field col s6">    
    <i class="material-icons prefix">perm_contact_calendar</i>
    <%= f.text_field :birth, placeholder: "Placeholder", id: "birth", class: "validate", readonly: "readonly", autocomplete: "birth" %>
    <%= f.label 'Data di nascita', for: "birth" %><br />
  </div>
    <% end %>

  <div class="input-field col s6">
    <i class="material-icons prefix">mail</i>
    <%= f.email_field :email, placeholder: "Placeholder", id: "email", class: "validate", autocomplete: "email" %>
    <%= f.label :email, for: "email" %><br />
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Aspettando conferma per: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="input-field col s6">
    <i class="material-icons prefix">security</i>
    <%= f.password_field :password, id:"new_password", class: "validate", autocomplete: "new-password" %>
    <%= f.label "Nuova password (lascia vuoto se non vuoi modificare)", for: "new_password" %><br />
    <span class="helper-text" data-error="Non corretto" data-success="Corretto">
      <% if @minimum_password_length %>
      <em>(Minimo <%= @minimum_password_length %> caratteri)</em>
      <% end %><br />
    </span>
  </div>

  <div class="input-field col s6">
    <i class="material-icons prefix">security</i>
    <%= f.password_field :password_confirmation, id:"confirm_password", class: "validate", autocomplete: "new-password" %>
    <%= f.label 'Conferma password', for: "confirm_password" %><br />
  </div>

  <div class="input-field col s6">
    <i class="material-icons prefix">verified_user</i>
    <%= f.password_field :current_password, id:"current_password", class: "validate", autocomplete: "current-password" %>
    <%= f.label 'Password corrente', for: "current_password" %>
    <span class="helper-text" data-error="Non corretto" data-success="Corretto">
      <i>(è necessaria la tua password corrente per confermare i tuoi cambiamenti)</i>
    </span> <br />
  </div>

  <div class="actions">
    <%= f.submit "Aggiorna", class: 'waves-effect waves-light btn' %>
  </div>
<% end %>

<% if current_user.has_role? :admin %>
  <h3>Utenti:</h3>
  <% @users = User.all %>
  <div class="left" style="padding-right: 20px;">
    <table class="highlight">
      <thead>
        <tr>
          <th>Avatar</th>
          <th>Nome</th>
          <th>Cognome</th>
          <th>Email</th>
          <th>Eliminare?</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <% if !user.has_role? :admin %>
          <tr>
            <td><%= image_tag(user.avatar.url(:thumb), class:"user_avatar_small") %></td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= link_to "Cancella utente", admin_destroy_user_path(user), data: { confirm: "Sei sicuro?" }, method: :delete, class: 'waves-effect waves-light btn' %></td>
          </tr>
          <% end %>       
        <% end %>
      </tbody>
    </table>
  </div>
  <div style="clear:both;"></div>
<% end %>

<h3>Cancella il mio account</h3>

<p>Vuoi cancellare l'account? <%= link_to "Cancella il mio account", registration_path(resource_name), data: { confirm: "Sei sicuro?" }, method: :delete, class: 'waves-effect waves-light btn' %></p>

<%= link_to "Indietro", :back, class: 'waves-effect waves-light btn' %>

<div class="push-footer"></div>

</div>
