<h1>Contatti</h1>
<div class="div_superiore">
	<div class="div_left">easyTravel è un progetto per il laboratorio di Architetture Software e Sicurezza Informatica</div>
	<div class="div_right">
		<%= link_to image_tag("email.jpg", class:"logo_email", :alt => "EMAIL") %>
	</div>
</div>
<div class="div_inferiore"></br></br></br></br>
	Sviluppatori:
	<div class="s">Marco Costa</div>
	<div class="s_image"><%= link_to image_tag("email.jpg", class:"logo_email", :alt => "EMAIL") %></div>
	Graduating in Computer Engineering at "La Sapienza" Università degli Studi di Roma.
	<div class="s">Gianmarco Cariggi</div>
	<div class="s_image"><%= link_to image_tag("email.jpg", class:"logo_email", :alt => "EMAIL") %></div>
	Graduating in Computer Engineering at "La Sapienza" Università degli Studi di Roma.
	<div class="s">Gianluca Pulicati</div>
	<div class="s_image"><%= link_to image_tag("email.jpg", class:"logo_email", :alt => "EMAIL") %></div>
	Graduating in Computer Engineering at "La Sapienza" Università degli Studi di Roma.
	<div class="s">Andrea Luca Antonini</div>
	<div class="s_image"><%= link_to image_tag("email.jpg", class:"logo_email", :alt => "EMAIL") %></div>
	Graduating in Computer Engineering at "La Sapienza" Università degli Studi di Roma.
</div>
