<!--  //SCAFFOLD
<p id="notice"><%= notice %></p>

<h1>Statistics</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.each do |statistic| %>
      <tr>
        <td><%= link_to 'Show', statistic %></td>
        <td><%= link_to 'Edit', edit_statistic_path(statistic) %></td>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statistic', new_statistic_path %>

//END SCAFOOLD -->

<!DOCTYPE html>
<html>
<head>
	<%= javascript_include_tag 'application' %>
</head>

<body>
  <h1>Statistiche</h1>
  <strong>Di seguito alcune statistiche riguardanti le rotte: il "Conteggio" esprime il numero di volte che è stata effettuata una ricerca per quella tratta. </strong>
	<table class="highlight">
		<thead>
			<tr><th>#</th><th>Partenza</th><th>Meta</th><th>Conteggio Viaggi</th></tr>
    </thead>
    <tbody>
    <% @statistics.each do |statistic| %>
			<tr>
				<td><%= statistic.id %></td>
				<td><%= statistic.partenza %></td>
				<td><%= statistic.arrivo %></td>
				<td><%= statistic.conteggio %></td>
      </tr>
      <% end %>
		</tbody>
  </table>
  
	<% if current_user %>
	<h1>Statistiche personali</h1>
	<table class="highlight">
		<thead>
			<tr><th>#</th><th>Meta</th><th>Ricerche</th><th>Partenza</th><th>Ricerche</th></tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Dato 1,2</td>
				<td>Dato 1,3</td>
				<td>Dato 1,4</td>
				<td>Dato 1,5</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Dato 2,2</td>
				<td>Dato 2,3</td>
				<td>Dato 2,4</td>
				<td>Dato 2,5</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Dato 3,2</td>
				<td>Dato 3,3</td>
				<td>Dato 3,4</td>
				<td>Dato 3,5</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Dato 4,2</td>
				<td>Dato 4,3</td>
				<td>Dato 4,4</td>
				<td>Dato 4,5</td>
			</tr>
			<tr>
				<td>5</td>
				<td>Dato 5,2</td>
				<td>Dato 5,3</td>
				<td>Dato 5,4</td>
				<td>Dato 5,5</td>
			</tr>
		</tbody>
	</table>
	<% end %>
</body>
</html>
