<%= form_with(model: personal_statistic, local: true) do |form| %>
  <% if personal_statistic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personal_statistic.errors.count, "error") %> prohibited this personal_statistic from being saved:</h2>

      <ul>
      <% personal_statistic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :conteggio %>
    <%= form.number_field :conteggio %>
  </div>

  <div class="field">
    <%= form.label :partenza %>
    <%= form.text_field :partenza %>
  </div>

  <div class="field">
    <%= form.label :arrivo %>
    <%= form.text_field :arrivo %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
