<p id="notice"><%= notice %></p>

<p>
  <strong>Conteggio:</strong>
  <%= @personal_statistic.conteggio %>
</p>

<p>
  <strong>Partenza:</strong>
  <%= @personal_statistic.partenza %>
</p>

<p>
  <strong>Arrivo:</strong>
  <%= @personal_statistic.arrivo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @personal_statistic.email %>
</p>

<%= link_to 'Edit', edit_personal_statistic_path(@personal_statistic) %> |
<%= link_to 'Back', personal_statistics_path %>
