<!DOCTYPE html>
<html>
    <head>
        <title>EasyTravel</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application' %>
        <%= javascript_include_tag 'application' %>
    </head>

    <body>

        <%= render 'layouts/center' %>

        <div id ="button_div">
            <a id="ricercavoli" class="btn waves-effect waves-light tooltipped pulse hoverable" data-position="bottom" data-tooltip="Sarai reindirizzato sul sito di Skyscanner">Ricerca</a>
            <a id="ricercahotel" style="display: none;" class="btn waves-effect waves-light tooltipped pulse hoverable" data-position="bottom" data-tooltip="Sarai reindirizzato sul sito di Skyscanner">Ricerca</a>
            <a id="ricercaauto" style="display: none;" class="btn waves-effect waves-light tooltipped pulse hoverable" data-position="bottom" data-tooltip="Sarai reindirizzato sul sito di Skyscanner">Ricerca</a>
        <div>

        <div style="clear:both;"></div>
        <br/>        

    </body>

</html>
