<!DOCTYPE html>
<html>
  <head>
    <title>EasyTravel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag "logo.png" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= javascript_tag do%>
	    <% if current_user%>
        window.user_email = "<%=j current_user.email %>"
	    <% else %>
        window.user_email = "guest"
	    <% end %>
    <% end %>
    <div id="container">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/alerts' %>
      <%= yield %>
      <br/>
      
    </div>

    <%= render 'layouts/footer' %>

  </body>

</html>
